.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background: inherit;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #fff;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.search-bar {
  position: relative;
  margin-left: auto;
  margin-right: 50px;
}
.search-bar input {
  padding: 10px 15px;
  border: 2px solid #40e0d0;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  width: 250px;
}

.search-bar input:focus {
  border-color: #00ccff;
}

.search-bar .search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #40e0d0;
  pointer-events: none;
}
